body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #494c4d;
  line-height: 1.25em;
}

.aside {
  width: 100%;
  height: 100%;
  background-color: $bgc-menu;
  background-size: cover;
}

.main {
  height: 2000px;
}

.main-content {
  height: 100%;
}
