body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.Lorem_ipsum_dolor_sit_amet__consectetur_adipisc {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(73, 76, 77);
  line-height: 1.571;

}
