body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #494c4d;
  line-height: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-title;
}

.main {
  height: 2000px;
  background-color: silver;
}

.aside {
  background-color: $bgc-menu;
}

.content-menu {
  padding: 0 15px;
}

.search {
  padding: 20px 15px;
  background-color: #eff1f2;
}
