@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('CRoboto-Regular'),
       url('../fonts/roboto-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('CRoboto-Italic'),
       url('../fonts/roboto-v19-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v19-latin-italic.woff') format('woff'), /* Modern Browsers */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('CRoboto-Bold'),
       url('../fonts/roboto-v19-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v19-latin-700.woff') format('woff'), /* Modern Browsers */
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('CRoboto-BoldItalic'),
       url('../fonts/roboto-v19-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v19-latin-700italic.woff') format('woff'), /* Modern Browsers */
}
