@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("CRoboto-Regular"), url("../fonts/roboto-v19-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v19-latin-regular.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("CRoboto-Italic"), url("../fonts/roboto-v19-latin-italic.woff2") format("woff2"), url("../fonts/roboto-v19-latin-italic.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("CRoboto-Bold"), url("../fonts/roboto-v19-latin-700.woff2") format("woff2"), url("../fonts/roboto-v19-latin-700.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"), local("CRoboto-BoldItalic"), url("../fonts/roboto-v19-latin-700italic.woff2") format("woff2"), url("../fonts/roboto-v19-latin-700italic.woff") format("woff"); }

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #494c4d;
  line-height: 1.25em; }

h1, h2, h3, h4, h5, h6 {
  color: #212325;
  font-weight: bold; }

.main {
  height: 2000px;
  background-color: silver; }

.aside {
  background-color: #f5f6f7; }

.content-menu {
  padding: 0 12px; }

.search {
  padding: 20px 15px;
  background-color: #eff1f2; }
  .search input::placeholder {
    letter-spacing: 0.13em; }

.menu-title {
  display: inline-block;
  padding-right: 7px;
  font-size: 18px;
  font-variant: small-caps; }
  .menu-title:after {
    content: '';
    display: block;
    width: calc(100% + 10px);
    height: 3px;
    margin-top: 10px;
    background-color: #609cf5; }

.menu-nav {
  margin-top: 50px; }
  .menu-nav ul {
    margin: 12px 0 0 0;
    padding: 0; }
    .menu-nav ul li {
      list-style: none;
      text-transform: uppercase;
      padding: 25px 0 16px 0;
      border-bottom: 1px solid #e0e3e5; }
      .menu-nav ul li a {
        color: #212325; }
        .menu-nav ul li a:hover {
          color: #609cf5;
          text-decoration: none; }

.info-menu {
  margin-top: 45px; }

.anounce {
  margin-top: 41px;
  border-bottom: 1px solid #e0e3e5; }
  .anounce img {
    width: 260px;
    border-radius: 10px; }
  .anounce p {
    margin-top: 20px; }
