@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("CRoboto-Regular"), url("../fonts/roboto-v19-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v19-latin-regular.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("CRoboto-Italic"), url("../fonts/roboto-v19-latin-italic.woff2") format("woff2"), url("../fonts/roboto-v19-latin-italic.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("CRoboto-Bold"), url("../fonts/roboto-v19-latin-700.woff2") format("woff2"), url("../fonts/roboto-v19-latin-700.woff") format("woff"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"), local("CRoboto-BoldItalic"), url("../fonts/roboto-v19-latin-700italic.woff2") format("woff2"), url("../fonts/roboto-v19-latin-700italic.woff") format("woff"); }

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #494c4d;
  line-height: 1.25em; }

h1, h2, h3, h4, h5, h6 {
  color: #212325; }

.main {
  height: 2000px;
  background-color: silver; }

.aside {
  background-color: #f5f6f7; }

.content-menu {
  padding: 0 15px; }

.search {
  padding: 20px 15px;
  background-color: #eff1f2; }
